<div class="flex w-fit h-8 border-2 border-[#560000] rounded-md items-center">
  <a href="mailto:ivan.almendros.lozano@gmail.com">
    <svg
      class="size-8 mr-1 ml-1 h-full m-auto flex p-0.5 fill-[#560000] border-[#560000]  hover:scale-110 transition duration-200 cursor-pointer"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 512 512"
    >
      <path
        d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48L48 64zM0 176L0 384c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-208L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
      ></path>
    </svg>
  </a>

  <p id="emailText" class="border-l-2 px-2 pt-0.5 overflow-hidden text-sm md:text-md">
    IVAN.ALMENDROS.LOZANO@GMAIL.COM
  </p>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="size-5 mr-2 hover:scale-110 transition duration-200 cursor-pointer"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    onclick="navigator.clipboard.writeText(document.getElementById('emailText').textContent.toLowerCase())"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
      d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"
    ></path>
    <path
      d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"
    ></path>
  </svg>
</div>
