<article id="Sobre-Mi">
  <h2 class="text-2xl text-[#A63446] w-full font-bold mt-14 mb-4">Sobre Mí</h2>
  <p class="font-normal text-pretty">
    Estudié DAW y DAM en el IES Virgen de la Paloma (Madrid) porque siempre me
    picó la curiosidad por saber cómo se hacen las apps y webs que usamos a
    diario. Aprendí los conceptos basicos y se encendió una chispa dentro de mi.
  </p>
  <p class="mt-2">
    Lo que más me gustó fue el desarrollo frontend. Disfruto dándole forma y
    vida a las interfaces. Participé en proyectos personales y en equipo, lo que
    me ayudó a organizarme mejor y a trabajar bien con otros. Ahora busco mi
    primera oportunidad profesional para seguir creciendo y aplicar todo lo
    aprendido.
  </p>
</article>
