<article>
    <h2 class="text-2xl text-[#A63446] w-full font-bold mt-14 mb-4">Sobre Mí</h2>
    <p class="font-normal text-justify">
      Estudié DAW y DAM en el IES Virgen de la Paloma (Madrid) porque siempre me
      picó la curiosidad por saber cómo se hacen las apps y webs que usamos a
      diario. Aprendí Java, SQL, HTML, CSS, JavaScript y algo de ASP.NET. Lo que
      más me gustó fue el desarrollo frontend: disfruto dándole forma y vida a
      las interfaces. Participé en proyectos personales y en equipo, lo que me
      ayudó a organizarme mejor y a trabajar bien con otros. Ahora busco mi
      primera oportunidad profesional para seguir creciendo y aplicar todo lo
      aprendido.
    </p>
  </article>