<article class="mt-10" id="Educacion">
  <h2 class="text-2xl font-bold xl text-[#A63446] w-full mt-14 mb-4">
    Educación
  </h2>
  <section>
    <div class="flex items-start justify-between gap-4">
      <h3 class="text-lg font-bold">
       Desarrollo de Aplicaciones Multiplataforma
      </h3>
      <span class="pt-1 text-sm italic whitespace-nowrap">2024-2025</span>
    </div>
    <div>
      <span class="text-sm">IES Virgen de la Paloma</span>
    </div>
  </section>
  <section  class="mt-6">
    <div class="flex items-start justify-between gap-4">
      <h3 class="text-lg font-bold">
       Desarrollo de Aplicaciones web
      </h3>
      <span class="pt-1 text-sm italic whitespace-nowrap">2022-2024</span>
    </div>
    <div>
      <span class="text-sm">IES Virgen de la Paloma</span>
    </div>
  </section>
  <section  class="mt-6">
    <div class="flex items-start justify-between gap-4">
      <h3 class="text-lg font-bold">
       Bachillerato Tecnológico
      </h3>
      <span class="pt-1 text-sm italic whitespace-nowrap">2020-2022</span>
    </div>
    <div>
      <span class="text-sm">IES Isaac Newton</span>
    </div>
  </section>
</article>
