<article class="mt-10">
  <h2 class="text-2xl font-bold xl text-[#A63446] w-full mt-14 mb-4">
    Educación
  </h2>
  <section>
    <div class="flex items-center justify-between gap-4">
      <h3 class="text-xl font-bold">
        Grado Superior: Desarrollo de aplicaciones Multiplataforma
      </h3>
      <span class="italic flex">2024-2025</span>
    </div>
    <div>
      <span>IES Virgen de la Paloma | Madrid</span>
    </div>
  </section>
  <section  class="mt-6">
    <div class="flex items-center justify-between gap-4">
      <h3 class="text-xl font-bold">
        Grado Superior: Desarrollo de aplicaciones web
      </h3>
      <span class="italic flex">2022-2024</span>
    </div>
    <div>
      <span>IES Virgen de la Paloma | Madrid</span>
    </div>
  </section>
</article>
