<article class="mt-20" id="Experiencia">
  <h2 class="text-2xl font-bold xl text-[#A63446] w-full mt-14 mb-4">
    Experiencia Laboral
  </h2>

  <section>
    <div class="flex flex-row w-full justify-between items-start mb-4">
      <h3 class="text-xl font-bold flex flex-row items-center m-auto ml-0">
        <img class="w-10 h-10 mr-2" src="images/ntt.png" alt="NTT DATA logo" />
        NTT DATA
      </h3>
      <span class="font-light italic whitespace-nowrap pt-1">03/2025 - 06/2025</span>
    </div>
    <div>
      <h4 class="font-bold text-lg">Desarrollador multiplataforma en prácticas</h4>
      <p class="text-pretty font-light mt-2 text-sm">
        Durante mi etapa en NTT Data, he trabajado en la depuración de código y
        he corregido errores en aplicaciones desarrolladas principalmente en <b
          class="font-bold">Visual Basic</b
        >
        y <b class="font-bold">C++</b>. También he realizado análisis previos
        para la resolución de incidencias y he comunicado los resultados a los
        usuarios.
        <br />
        Además, he utilizado herramientas como <b class="font-bold">Jira</b>, <b
          class="font-bold">Confluence</b
        >, <b class="font-bold">Sourcegraph</b>, <b class="font-bold"
          >Testlink</b
        > y <b class="font-bold">Citrix</b> para la gestión de tareas, documentación,
        análisis de código y soporte remoto.
      </p>
    </div>
  </section>

  <section class="mt-10">
    <div class="flex flex-row w-full items-start justify-between mb-4">
      <h3 class="text-xl font-bold flex flex-row items-center m-auto ml-0">
        <img
          class="w-10 h-10 mr-2"
          src="https://www.fraternidad.com/sites/default/files/inline-images/logo-FM-vertical.png"
          alt="NTT DATA logo"
        />
        Fraternidad Muprespa
      </h3>
      <span class="font-light italic whitespace-nowrap pt-1.5">03/2025 - 06/2025</span>
    </div>
    <div>
      <h4 class="font-bold text-lg">Desarrollador web en prácticas</h4>
      <p class="text-pretty font-light mt-2 text-sm">
        Durante mis prácticas como Desarrollador Web, creé procedimientos,
        batches y páginas utilizando
        <b class="font-bold">ASP</b>, <b class="font-bold">C#</b>, <b
          class="font-bold">JavaScript</b
        > y <b class="font-bold">Visual Basic</b>. Diseñé y optimicé interfaces
        de usuario dentro de la intranet de la empresa. Utilicé herramientas
        como <b class="font-bold">Confluence</b>, <b class="font-bold">Jira</b>, <b
          class="font-bold">Sourcegraph</b
        > y
        <b class="font-bold">TestLink</b> para la gestión de documentación, trazabilidad
        y asignación de tareas. Fue una etapa en la que aprendí y mejoré tanto mis
        habilidades técnicas como mi capacidad para trabajar en entornos colaborativos.
      </p>
    </div>
  </section>
</article>
