<footer class="bg-white rounded-lg shadow-sm m-auto max-w-[900px]">
  <div
    class=" p-4 flex flex-wrap items-center justify-center xs:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
      Ivan Almendros Lozano
    </span>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
       © 2025 All Rights Reserved
      </span>
  </div>
</footer>
