---
import Download from "@/icons/Download.astro";
import Github from "@/icons/Github.astro";
import Globe from "@/icons/Globe.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Mail.astro";

const transitionClass = "hover:scale-110 transition duration-200";
---

<article
  class="w-full h-full grid grid-cols-1 md:grid-cols-2 md:justify-between"
>
  <div class="order-2 text-center md:order-1 md:text-start">
    <div class="flex flex-col justify-stretch h-full">
      <h1 class="text-3xl text-magenta font-bold">Ivan Almendros Lozano</h1>
      <h2 class="mt-6 text-xl font-bold">Programador Full-Stack</h2>
      <span
        class="flex gap-2 items-center justify-center text-sm md:justify-start"
      >
        <Globe />
        Madrid, España
      </span>
      <div
        class="h-full mb-0 mt-4 pb-4 flex flex-wrap justify-center gap-2 items-end md:justify-start md:flex-nowrap"
      >
        <a href="https://github.com/IviCracker" target="_blank">
          <Github />
        </a>
        <a href="https://www.linkedin.com/in/ivan-almendros-lozano/" target="_blank">
          <LinkedIn />
        </a>

        <Mail />
      </div>
    </div>
  </div>

  <div class="order-1 md:order-2 m-auto md:mr-0">
    <figure>
      <img
        class="rounded-2xl shadow-2xs w-44"
        src="/images/ProfileIvan.webp"
        alt="Imagen perfil"
      />
    </figure>

    <span class="flex justify-center p-2 text-sky-700">
      <a
        class={`flex text-sm text-[#560000] items-center ${transitionClass}`}
        href="/docs/CV_IvanAlmendrosLozano.pdf"
        download>Descargar <Download /></a
      >
    </span>
  </div>
</article>
