<article>
  <h2 class="text-2xl font-bold xl text-[#A63446] w-full mt-14 mb-4">
    Idiomas
  </h2>
  <div class="grid grid-cols-1 text-center md:grid-cols-2 gap-4">
    <section class="bg-[#edeae6] rounded-2xl shadow-md p-3 hover:scale-105 transition duration-100">
      <div class="flex items-start justify-center gap-4">
        <h3 class="text-lg font-bold content-center">Español</h3>
      </div>
      <div>
        <span class="text-sm">Nativo</span>
      </div>
    </section>

    <section class="bg-[#edeae6] rounded-2xl shadow-md p-3 hover:scale-105 transition duration-100">
      <div class="flex items-start justify-center gap-4">
        <h3 class="text-lg font-bold">Inglés</h3>
      </div>
      <div>
        <span class="text-sm">Avanzado - Certificado C1 Cambridge</span>
      </div>
    </section>
  </div>
</article>
