<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Source Serif Pro"
      rel="stylesheet"
    />

    <title>Portfolio Ivan Almendros</title>
    
  </head>
  <body>
    <main class="p-[16px] m-auto md:p-[4rem] ">
      <slot />
    </main>
    
  </body>
</html>

<style is:global>
  @import "tailwindcss";
  @import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
  @theme {
    --color-magenta: #c44536;
  }
  @theme {
    --breakpoint-xs: 458px;
    --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem;
  }
  .courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
  }

  .courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
  }

  .courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: italic;
  }

  .courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
  }

  html,
  body {
     scroll-behavior: smooth;
    background-color: #fbfef9;
    font-family: "Courier Prime";
    font-weight: 500;
    width: 100%;
    height: 100%;
  }

  article{
    max-width: 900px;
    margin: 0 auto 48px;
  }
</style>
